@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --font-principal: 'Poppins', sans-serif;
    --cor-principal: #4CE36D;
    --cor-secundaria:#2F5DD1;
    --shadow:#0b3399;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-secundaria);
    width: 100vw;
    height: 100vh;
}
h1 {
    color: var(--cor-principal);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 200px;
    letter-spacing: 2px;
    font-family: var(--font-principal);
    font-weight: 600;
    font-size: 4em;
}

.clock-container {
    display: flex;
    justify-content: center;
    font-size: 4em;
    text-align: center;
    color: var(--shadow);
    padding: 90px;
    font-family: var(--font-principal);
}

.clock-container div {
    width: 100px;
    border-radius: 5%;
    background-color: var(--cor-principal);
    /* border-radius: 10px; */
}
